@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer utilities {
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #8b4513 transparent;
    scrollbar-arrow-color: #ffffff  transparent;
  }
  
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px; 
    height: 2px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #8b4513;
    border-radius: 20px;
    border: 2px solid transparent;
    background-clip: padding-box;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #723a10;
  }
  

  .custom-scrollbar::-webkit-scrollbar-button {
    display: none;
  }
} */